[submodule "js/angularJS"]
	path = js/angularJS
	url = git@github.com:angular/angular.js.git
[submodule "js/jquery"]
	path = js/jquery
	url = git@github.com:jquery/jquery.git
[submodule "css/bootstrap"]
	path = css/bootstrap
	url = git@github.com:twbs/bootstrap.git
